{% extends "index.html" %}

{% block title %}Détails des campagnes - SmartPhish{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="vh-100">
    <div class="d-flex align-items-center">
        <h2 class="me-2">📜 Détails de la campagne -</h2>
        <span class="status-highlight {% if campaign.status == 'Completed' %}completed{% else %}in-progress{% endif %}">
            {% if campaign.status == "Completed" %}
                Complétée
            {% else %}
                En cours
            {% endif %}
        </span>
    </div>
    
    
    <!-- Informations Générales -->
    <div class="row mt-4 text-center">
        <div class="col-md-6">
            <div class="card shadow p-3 bg-light fixed-card d-flex flex-column">
                <h6 class="text-uppercase font-weight-bold">📌 Nom de la campagne</h6>
                <p class="campaign-text text-primary">{{ campaign.name }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow p-3 bg-light fixed-card d-flex flex-column">
                <h6 class="text-uppercase font-weight-bold">📅 Date de création</h6>
                <p>{{ campaign.created_date[:10] }} {{ campaign.created_date[11:16] }}</p>
            </div>
        </div>
    </div>
    
    <hr class="my-4">
    <!-- 📤 Card principale pour le nombre total d'emails envoyés -->
    <div class="container mt-4 d-flex justify-content-center">
        <div class="card shadow p-3 fixed-card-email">
            <h6 class="text-uppercase font-weight-bold text-center">📤 Emails envoyés</h6>
            <h3 class="text-primary text-center">{{ campaign.results | length }}</h3>
        </div>
    </div>

    <!-- Affichage des Statistiques -->
    <div class="row mt-4 text-center">
        {% set total_sent = campaign.results | length %}
        {% set opened = campaign.results | selectattr('status', 'equalto', 'Opened') | list | length %}
        {% set clicked = campaign.results | selectattr('status', 'equalto', 'Clicked') | list | length %}
        {% set submitted = campaign.results | selectattr('status', 'equalto', 'Submitted') | list | length %}
        {% set reported = campaign.results | selectattr('reported', 'equalto', true) | list | length %}
    
        {% set email_stats = {
            'Emails ouverts': opened,
            'Liens cliqués': clicked,
            'Données soumises': submitted,
            'Emails signalés': reported
        } %}
    
        {% for label, value in email_stats.items() %}
            {% set percentage = (value / total_sent * 100) if total_sent > 0 else 0 %}
            {% set color_class = 'border-blue' %}
            {% if percentage > 20 %} {% set color_class = 'border-green' %} {% endif %}
            {% if percentage > 40 %} {% set color_class = 'border-yellow' %} {% endif %}
            {% if percentage > 60 %} {% set color_class = 'border-orange' %} {% endif %}
            {% if percentage > 80 %} {% set color_class = 'border-red' %} {% endif %}
    
            <div class="col-6 col-md-3 d-flex flex-column align-items-center">
                <div class="circle-stat {{ color_class }}">
                    <h3 class="circle-number">{{ value }}</h3>
                </div>
                <h5 class="mt-2">{{ label }}</h5>
            </div>
        {% endfor %}
    </div>
</div>
</div>

<div class="accordion" id="detailsAccordion">
    <!-- Apercu Mail --> 
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingMail">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMail" aria-expanded="false" aria-controls="collapseMail">
                Aperçu du mail envoyé
            </button>
        </h2>
        <div id="collapseMail" class="accordion-collapse collapse" aria-labelledby="headingMail">
            <div class="accordion-body">
                <div class="card mt-3 card-details">
                    <div class="card-body bg-light p-3" style="border: 1px solid #ddd;">
                        <p><strong>Expéditeur :</strong> {{ campaign.smtp.from_address }}</p>
                        <p><strong>Destinataire :</strong> {{ group_name }}</p>
                        <p><strong>Date d'envoi :</strong> {{ campaign.created_date[:10] }} {{ campaign.created_date[11:16] }}</p>
                        <p><strong>Date de modification :</strong> {{ campaign.template.modified_date[:10] }} {{ campaign.template.modified_date[11:16] }}</p>
                        <p><strong>Objet :</strong> {{ campaign.template.subject }}</p>
                        <hr>
                        <p><strong>Contenu du mail :</strong></p>
                        <pre class="border p-2 bg-white pre-details overflow-auto">{{ campaign.template.text }}</pre>
                        <!--
                        <p><strong>Contenu HTML :</strong></p>
                        <iframe srcdoc="{{ campaign.template.html | safe }}" style="max-width: 100%; width: 100%; height: 300px; border: none; overflow-x: hidden;"></iframe>
                        -->
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <!-- Résultats envois -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingResults">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResults" aria-expanded="false" aria-controls="collapseResults">
                Résultats des envois
            </button>
        </h2>
        <div id="collapseResults" class="accordion-collapse collapse" aria-labelledby="headingResults">
            <div class="accordion-body">
                <div class="table-responsive">
                    
                    <!-- Tableau des résultats -->
                    <table class="table table-sm table-details">
                        <thead>
                            <tr>
                                <th class="th-details">Email</th>
                                <th class="th-details">Prénom</th>
                                <th class="th-details">Nom</th>
                                <th class="th-details">IP</th>
                                <th class="th-details">Date d'envoi</th>
                                <th class="th-details">Dernière modification</th>
                                <th class="th-details">Statut</th>
                                <th class="th-details">Signalé</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in campaign.results %}
                            <tr>
                                <td class="td-details">{{ result.email }}</td>
                                <td class="td-details">{{ result.first_name }}</td>
                                <td class="td-details">{{ result.last_name }}</td>
                                <td class="td-details">{{ result.ip }}</td>
                                <td class="td-details">{{ result.send_date[:10] }} {{ result.send_date[11:16] }} </td>
                                <td class="td-details ">{{ result.modified_date[:10] }} {{ result.modified_date[11:16] }}</td>
                                <td class="td-details {% if result.status == 'Error' %}text-danger{% else %}text-success{% endif %}">
                                    {{ result.status }}
                                </td>
                                <td class="td-details">{{ "✅" if result.reported else "❌" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Informations SMTP -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSMTP">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSMTP">
                Informations SMTP
            </button>
        </h2>
        <div id="collapseSMTP" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p><strong>Expéditeur :</strong> {{ campaign.smtp.from_address }}</p>
                <p><strong>Hôte :</strong> {{ campaign.smtp.host }}</p>
                <p><strong>Nom :</strong> {{ campaign.smtp.name }}</p>
                <p><strong>Date de modification :</strong> {{ campaign.smtp.modified_date[:10] }} {{ campaign.smtp.modified_date[11:16] }}</p>
            </div>
        </div>
    </div>

    <!-- URL malveillant -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingURL">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseURL">
                Page de destination
            </button>
        </h2>
        <div id="collapseURL" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div>
                    <p><strong>Nom Page Destination :</strong> {{ campaign.page.name }}</p>
                    <p><strong>Date de modification :</strong> {{ campaign.page.modified_date[:10] }} {{ campaign.page.modified_date[11:16] }}</p>
                </div>
                <div class="card mt-3 shadow-lg">
                    <div class="card-body bg-light p-3 border">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="fw-bold">
                                <span class="badge bg-dark px-3 py-2">Aperçu du contenu</span>
                            </h5>
                            
                                                        
                            <!-- Toggle Switch -->
                            <div class="d-flex align-items-center">
                                <span class="fw-semibold text-muted me-3">Vue</span> <!-- Ajuste l'espacement à droite -->
                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input" type="checkbox" id="toggleView" onchange="toggleView()">
                                </div>
                                <span class="fw-semibold text-muted ms-2">Code</span> <!-- Ajuste l'espacement à gauche -->
                            </div>
                            
                            
                        </div>
                
                        <!-- Cadre FIXE pour l'affichage -->
                        <div class="border p-2 bg-white overflow-auto" style="height: 200px;">
                            <!-- Aperçu HTML -->
                            <iframe id="htmlPreview" class="w-100 h-100 border-0"></iframe>
                
                            <!-- Code Source -->
                            <pre id="codeView" class="text-wrap d-none">{{ campaign.page.html }}</pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<div class="text-center justify-center">
    <a href="{{ url_for('frontend.follow_campaign') }}" class="btn btn-warning mt-3">Retour aux campagnes</a>
</div>

</div>



<script>
    function loadHTMLPreview() {
        var iframe = document.getElementById("htmlPreview");
        var doc = iframe.contentWindow.document;
        doc.open();
        doc.write(`{{ campaign.page.html | safe}}`);
        doc.close();
    }

    function toggleView() {
        var toggle = document.getElementById("toggleView").checked;
        var htmlPreview = document.getElementById("htmlPreview");
        var codeView = document.getElementById("codeView");

        if (toggle) {
            htmlPreview.classList.add("d-none");
            codeView.classList.remove("d-none");
        } else {
            htmlPreview.classList.remove("d-none");
            codeView.classList.add("d-none");
        }
    }

    window.onload = loadHTMLPreview;
</script>

{% endblock %}
