{% extends "index.html" %}

{% block title %}Détails des campagnes - SmartPhish{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="mb-5">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <h2>Détails de la campagne - </h2>
                <span class="text-primary fw-bold ms-2"> </span>
                <span class="status-highlight {% if campaign.status == 'Completed' %}completed{% else %}in-progress{% endif %}">
                    {% if campaign.status == "Completed" %}
                        Complétée
                    {% else %}
                        En cours
                    {% endif %}
                </span>
            </div>
            <div class="d-flex align-items-center gap-2">
                <button id="retry-btn" class="btn btn-outline-primary btn-sm" title="Générer un rapport">
                    <i class="bi bi-arrow-repeat"></i>
                </button>
                <button id="report-btn" class="btn btn-outline-success btn-sm" title="Télécharger le rapport" disabled>
                    <i class="bi bi-download"></i>
                </button>
            </div>
        </div>
        
        
        <!-- Informations Générales -->
        <div class="row mt-4 text-center">
            <div class="col-md-6">
                <div class="card shadow p-3 bg-light fixed-card d-flex flex-column">
                    <h6 class="text-uppercase font-weight-bold">📌 Nom de la campagne</h6>
                    <p class="campaign-text text-primary">{{ campaign.name }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-3 bg-light fixed-card d-flex flex-column">
                    <h6 class="text-uppercase font-weight-bold">📅 Date de création</h6>
                    <p>{{ campaign.created_date[:10] }} {{ campaign.created_date[11:16] }}</p>
                </div>
            </div>
        </div>
        
        <hr class="my-4">
        <!-- Card principale pour le nombre total d'emails envoyés -->
        <div class="container mt-4 d-flex justify-content-center">
            <div class="card shadow p-3 fixed-card-email">
                <h6 class="text-uppercase font-weight-bold text-center">📤 Emails envoyés</h6>
                <h3 class="text-primary text-center">{{ campaign.results | length }}</h3>
                </p>
            </div>
        </div>

        <!-- Affichage des Statistiques -->
        <div class="row mt-4 text-center d-flex justify-content-center">
            {% set total_sent = stats["Emails envoyés"] %}

            {% for label, value in stats.items() %}
                {% if label != "Emails envoyés" %}
                    {% set percentage = (value / total_sent * 100) if total_sent > 0 else 0 %}
                    {% set formatted_percentage = percentage|round(1) %}
                    {% if formatted_percentage == 100.0 %}
                        {% set formatted_percentage = 100 %}
                    {% endif %}
                    {% set color_class = 'border-blue' %}
                    {% if percentage > 20 %} {% set color_class = 'border-green' %} {% endif %}
                    {% if percentage > 40 %} {% set color_class = 'border-yellow' %} {% endif %}
                    {% if percentage > 60 %} {% set color_class = 'border-orange' %} {% endif %}
                    {% if percentage > 80 %} {% set color_class = 'border-red' %} {% endif %}

                    <div class="col-6 col-md-3 d-flex flex-column align-items-center mb-4">
                        <div class="circle-stat {{ color_class }}" data-value="{{value}}" data-percentage="{{ formatted_percentage }}" data-mode="value" onclick="toggleValue(this)">
                            <h3 class="circle-number">{{ value }}</h3>
                        </div>
                        <h5 class="mt-2">{{ label }}</h5>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    </div>
</div>



<div class="accordion mt-5" id="detailsAccordion">
    <!-- Apercu Mail --> 
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingMail">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMail" aria-expanded="false" aria-controls="collapseMail">
                Aperçu du mail envoyé
            </button>
        </h2>
        <div id="collapseMail" class="accordion-collapse collapse" aria-labelledby="headingMail">
            <div class="accordion-body">
                <div class="card mt-3 card-details">
                    <div class="card-body bg-light p-3" style="border: 1px solid #ddd;">
                        <p><strong>Expéditeur :</strong> {{ campaign.smtp.from_address }}</p>
                        <p><strong>Groupe Destinataire :</strong> {{ group_name }}</p>
                        <p><strong>Date d'envoi :</strong> {{ campaign.created_date[:10] }} {{ campaign.created_date[11:16] }}</p>
                        <p><strong>Date de modification :</strong> {{ campaign.template.modified_date[:10] }} {{ campaign.template.modified_date[11:16] }}</p>
                        <p><strong>Objet :</strong> {{ campaign.template.subject }}</p>
                        <hr>
                        <p><strong>Contenu du mail :</strong></p>
                        {% if campaign.template.html %}
                            <div class="border p-2 bg-white overflow-auto" style="height: 300px;">
                                <iframe srcdoc='{{ campaign.template.html | safe }}' class="w-100 h-100 border-0" style="min-height: 250px;"></iframe>
                            </div>
                        {% elif campaign.template.text %}
                            <pre class="border p-2 bg-white pre-details overflow-auto">{{ campaign.template.text }}</pre>
                        {% else %}
                            <div class="alert alert-warning mt-2">Aucun contenu d'e-mail disponible.</div>
                        {% endif %}
                        <!--
                        <p><strong>Contenu HTML :</strong></p>
                        <iframe srcdoc="{{ campaign.template.html | safe }}" style="max-width: 100%; width: 100%; height: 300px; border: none; overflow-x: hidden;"></iframe>
                        -->
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <!-- Résultats envois -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingResults">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResults" aria-expanded="false" aria-controls="collapseResults">
                Résultats des envois
            </button>
        </h2>
        <div id="collapseResults" class="accordion-collapse collapse" aria-labelledby="headingResults">
            <div class="accordion-body">
                <div class="table-responsive">
                    <!-- Tableau des résultats -->
                    <table class="table table-sm table-details">
                        <thead>
                            <tr>
                                <th class="th-details">Email</th>
                                <th class="th-details">Prénom</th>
                                <th class="th-details">Nom</th>
                                <th class="th-details">IP</th>
                                <th class="th-details">Date d'envoi</th>
                                <th class="th-details">Dernière modification</th>
                                <th class="th-details">Statut</th>
                                <th class="th-details">Détails</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in campaign.results %}
                            <tr data-email="{{ result.email }}">
                                <td class="td-details">{{ result.email }}</td>
                                <td class="td-details">{{ result.first_name }}</td>
                                <td class="td-details">{{ result.last_name }}</td>
                                <td class="td-details">{{ result.ip }}</td>
                                <td class="td-details">{{ result.send_date[:10] }} {{ result.send_date[11:16] }}</td>
                                <td class="td-details">{{ result.modified_date[:10] }} {{ result.modified_date[11:16] }}</td>
                                <td class="td-details {% if result.status == 'Error' %}text-danger{% else %}text-success{% endif %}">
                                    {{ result.status }}
                                </td>
                                <td class="td-details">
                                    <button class="btn btn-sm btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#detail-{{ loop.index }}" aria-expanded="false" aria-controls="detail-{{ loop.index }}">
                                        Détail
                                    </button>
                                </td>
                            </tr>
                            <tr class="collapse" id="detail-{{ loop.index }}">
                                <td colspan="8">
                                    <div class="mt-3">
                                        <!-- Bloc : Données soumises -->
                                        <div class="mb-3">
                                            <h6 class="fw-bold">Données soumises :</h6>
                                            {% if result.email in submissions %}
                                                <ul class="mb-0">
                                                    {% for key, value in submissions[result.email].items() %}
                                                        <li><strong>{{ key }}:</strong> {{ value[0] }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>Aucune donnée soumise.</p>
                                            {% endif %}
                                        </div>
                                    
                                        <!-- Bloc : Informations techniques CVE -->
                                        <div class="info-cve" data-email="{{ result.email }}">
                                            <h6 class="fw-bold mt-4">Informations techniques :</h6>
                                            <div>
                                                <p>Chargement des données CVE...</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  


    <!-- Informations SMTP -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSMTP">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSMTP">
                Informations SMTP
            </button>
        </h2>
        <div id="collapseSMTP" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p><strong>Expéditeur :</strong> {{ campaign.smtp.from_address }}</p>
                <p><strong>Hôte :</strong> {{ campaign.smtp.host }}</p>
                <p><strong>Nom :</strong> {{ campaign.smtp.name }}</p>
                <p><strong>Date de modification :</strong> {{ campaign.smtp.modified_date[:10] }} {{ campaign.smtp.modified_date[11:16] }}</p>
            </div>
        </div>
    </div>

    <!-- URL malveillant -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingURL">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseURL">
                Page de destination
            </button>
        </h2>
        <div id="collapseURL" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div>
                    <p><strong>Nom Page Destination :</strong> {{ campaign.page.name }}</p>
                    <p><strong>Date de modification :</strong> {{ campaign.page.modified_date[:10] }} {{ campaign.page.modified_date[11:16] }}</p>
                </div>
                <div class="card mt-3 shadow-lg">
                    <div class="card-body bg-light p-3 border">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="fw-bold">
                                <span class="badge bg-dark px-3 py-2">Aperçu du contenu</span>
                            </h5>
                            
                            <div class="d-flex align-items-center">
                                <span class="fw-semibold text-muted me-2">Vue</span>
                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input" type="checkbox" id="toggleView" onchange="toggleView()">
                                </div>
                                <span class="fw-semibold text-muted ms-2">Code</span>
                            </div>
                            

                            
                        </div>
                        <pre id="codeView" class="text-wrap">{{ campaign.page.html }}</pre>
                        <!-- <div id="htmlPreview" class="border p-3 mt-2 bg-white d-none" style="height: 200px; overflow:auto;"></div> -->
                        <iframe id="htmlPreviewFrame" class="d-none w-100 border" style="height: 400px;"></iframe>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<div class="text-center justify-center">
    <a href="{{ url_for('frontend.follow_campaign') }}" class="btn btn-warning mt-3">Retour aux campagnes</a>
</div>
<script>
    window.CAMPAIGN_ID = '{{ campaign.id }}';
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</div>



<script src="{{ url_for('static', filename='js/details-campaign.js') }}" defer></script>
    
    


{% endblock %}
