<a href="https://www.flaticon.com/free-icons/home-button" title="home button icons">Home button icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/send" title="send icons">Send icons created by Md Tanvirul Haque - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/graph" title="graph icons">Graph icons created by Vectors Market - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/commerce-and-shopping" title="commerce and shopping icons">Commerce and shopping icons created by Secret Studio - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/robot" title="robot icons">Robot icons created by Hilmy Abiyyu A. - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/team" title="team icons">Team icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/people" title="people icons">People icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/letter" title="letter icons">Letter icons created by Dilonecreation - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/summary" title="summary icons">Summary icons created by Hexagon075 - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/durable" title="durable icons">Durable icons created by IYIKON - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/smtp" title="smtp icons">Smtp icons created by Three musketeers - Flaticon</a>