<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SmartPhish{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo SmartPhish" class="logo">
        <h1 class="title">SmartPhish</h1>
        <div class="header-buttons">
            <button id="btnSettings">Settings</button>
            <button id="btnAccount">Account</button>
        </div>
    </header>

    <aside>
        <ul>
            <li><a href="/">🏠 Home</a></li>
            <li><a href="/history">📜 Historique</a></li>
            <li><a href="/nouvelle_campagne">📩 Nouvelle Campagne</a></li>
            <li><a href="/suivi">📊 Suivi de campagne</a></li>
            <li><a href="/analyse">🔍 Analyse et correction</a></li>
            <li><a href="/llm_statut">🤖 Statut du LLM</a></li>
            <li><a href="/llm_train">📡 Entrainement du LLM</a></li>
            <li><a href="/llm_param">⚙️ Paramètres du LLM</a></li>
            <li><a href="/maj">📌 Status des MAJ</a></li>
        </ul>
    </aside>

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    <script src=""></script>
</body>
</html>
