<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SmartPhish{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo SmartPhish" class="logo">
        <h1 class="title">SmartPhish</h1>
        
        <div class="header-buttons">
            <button onclick="logout()">Déconnexion</button>
            <!--
            <button id="btnSettings">Settings</button>
            <button id="btnAccount">Account</button>
            -->
        </div>

    </header>

    <aside>
        <ul>
            <li><a class="menu-link {% if request.path == '/' %}active{% endif %}" href="/">🏠 Accueil</a></li>
            <li><a class="menu-link {% if request.path == '/new-campaign' %}active{% endif %}" href="/new-campaign">📩 Nouvelle campagne</a></li>
            <li><a class="menu-link {% if request.path == '/follow-campaign' %}active{% endif %}" href="/follow-campaign">📊 Suivi des campagnes</a></li>
            <li><a class="menu-link {% if request.path == '/config-groups' %}active{% endif %}" href="/config-groups">📌 Configuration</a></li>
            <!-- <li><a class="menu-link {% if request.path == '/groups' %}active{% endif %}" href="/groups">👥  Liste Groupe</a></li> -->
            <!-- <li><a class="menu-link {% if request.path == '/gen-mail' %}active{% endif %}" href="/gen-mail">🔍 Génération mail IA</a></li> -->
            <li><a class="menu-link {% if request.path == '/analysis-correction' %}active{% endif %}" href="/analysis-correction">🔍 Analyse et correction</a></li>
            <li><a class="menu-link {% if request.path == '/llm-status' %}active{% endif %}" href="/llm-status">🤖 Statut du LLM</a></li>
            <!-- <li><a class="menu-link {% if request.path == '/llm-training' %}active{% endif %}" href="/llm-training">📡 Entrainement du LLM</a></li> -->
            <li><a class="menu-link {% if request.path == '/llm-settings' %}active{% endif %}" href="/llm-settings">⚙️ Paramètres du LLM</a></li>
            {% if session.role == 'admin' %}
                <li><a class="menu-link {% if request.path == '/register' %}active{% endif %}" href="/register">👥 Création de compte</a></li>
            {% endif %}
        /ul>
    </aside>

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>