{% extends "index.html" %}

{% block title %}Paramètres du LLM - SmartPhish{% endblock %}

{% block content %}
<div class="header-icon-title mb-4">
    <img src="{{ url_for('static', filename='img/settings.png') }}" alt="settings" class="icon-header">
    <h2>Paramètres du LLM</h2>
</div>

<!-- <p>Contenu de la section paramètres du LLM.</p> -->

<h5 style="margin-top: 20px; margin-bottom: 13px;">Modèle conversationnel</h5>

{% for model in models %}
<div class="form-check mt-2">
    <input class="form-check-input" type="radio" name="exampleRadios" id="{{ model.name }}" value="{{ model.name }}"  {{ 'checked' if model.used else '' }} onclick="setModel()">
    <label class="form-check-label" for="{{ model.name }}">
        {{ model.description }}
    </label>
</div>
{% endfor %}

<script src="{{ url_for('static', filename='js/llm-settings.js') }}" defer></script>


{% endblock %}