{% extends "index.html" %}
{% block title %}Create a New Campaign - SmartPhish{% endblock %}

{% block content %}
<div class="header-icon-title mb-4">
  <h2>Créer une nouvelle campagne</h2>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <form id="campaignForm">
      <div class="mb-3">
        <label for="campaignName" class="form-label fw-bold"><i class="bi bi-pencil-square"></i> Nom de Campagne:</label>
        <input type="text" id="campaignName" class="form-control" required placeholder="Entrer le nom de la campagne">
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="campaignGroups" class="form-label fw-bold"><i class="bi bi-people-fill"></i> Sélectionner le groupe cible:</label>
          <select id="campaignGroups" class="form-select" required>
            <option value="" hidden disabled selected>Choix du groupe</option>
            {% for group in groups %}
              <option value="{{ group.name }}">{{ group.name }}</option>
            {% endfor %}
          </select>
        </div>  

        <div class="col-md-6 mb-3">
          <label for="campaignTemplate" class="form-label fw-bold"><i class="bi bi-envelope-fill"></i> Sélectionner un modèle d'e-mails</label>
          <select id="campaignTemplate" class="form-select" required>
            <option value="" hidden disabled selected>Choix du modèle</option>
            {% for template in templates %}
              <option value="{{ template.name }}">{{ template.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="campaignLandingPage" class="form-label fw-bold"><i class="bi bi-globe"></i> Sélectionner la page de destination:</label>
          <select id="campaignLandingPage" class="form-select" required>
            <option value="" hidden disabled selected>Choix page de destination</option>
            {% for page in pages %}
              <option value="{{ page.name }}">{{ page.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="campaignSmtp" class="form-label fw-bold"><i class="bi bi-send-fill"></i> Sélectionner le profil d'envoi:</label>
          <select id="campaignSmtp" class="form-select" required>
            <option value="" hidden disabled selected>Choix du profil</option>
            {% for smtp in sending_profiles %}
              <option value="{{ smtp.name }}">{{ smtp.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="campaignLaunchDate" class="form-label fw-bold"><i class="bi bi-calendar"></i> Date de lancement:</label>
          <input type="datetime-local" id="campaignLaunchDate" class="form-control">
        </div>

        <div class="col-md-6 mb-3">
          <label for="campaignUrl" class="form-label fw-bold"><i class="bi bi-link-45deg"></i> URL de phishing:</label>
          <input type="url" id="campaignUrl" class="form-control" value="http://127.0.0.1:80/">
        </div>
      </div>

      <button type="button" class="btn btn-success w-100 py-2" onclick="submitCampaign()" id="submitBtn">Lancer la campagne</button>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{{ url_for('static', filename='js/new-campaign.js') }}" defer></script>

{% endblock %}
