{% extends 'index.html' %}
{% block title %}Gestion administrateur{% endblock %}
{% block content %}
  
<div class="header-icon-title mb-4">
  <img src="{{ url_for('static', filename='img/teamwork.png') }}" alt="user" class="icon-header">
  <h2>Gestion des utilisateurs</h2>
</div>


<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-success" onclick="openUserModal()">Créer un utilisateur</button>
    </div>

    <table class="table table-bordered" id="user-table">
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="user-table-body">
            <!-- Les utilisateurs seront injectés ici -->
        </tbody>
    </table>
</div>

<!-- Modal de création/modification -->
<div class="modal fade" id="userModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="userForm" onsubmit="submitUserForm(event)">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Créer un utilisateur</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="edit-username" />
            <div class="mb-3">
                <label class="form-label"><strong>Nom d'utilisateur</strong></label>
                <input type="text" class="form-control" id="username"/>
            </div>
            <div class="mb-3">
                <label class="form-label"><strong>Mot de passe</strong></label>
                <input type="password" class="form-control" id="password"/>
            </div>
            <div class="mb-3">
                <label class="form-label"><strong>Rôle</strong></label>
                <select class="form-control" id="role">
                    <option value="user">Utilisateur</option>
                    <option value="admin">Administrateur</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}